.row {
  border-bottom: 1px solid var(--dsw-alias-border-l2);
  align-items: center;
  gap: 8px;
  padding: 16px 0;
  display: flex;
}

.rowText {
  flex-direction: column;
  flex: 1;
  gap: 4px;
  min-width: 0;
  padding-right: 48px;
  display: flex;
}

.title {
  color: var(--dsw-alias-label-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.desc {
  color: var(--dsw-alias-label-tertiary);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.selector {
  background: var(--dsw-alias-bg-module-platform);
  height: 36px;
  font: inherit;
  color: var(--dsw-alias-label-primary);
  cursor: pointer;
  border: none;
  border-radius: 18px;
  align-items: center;
  gap: 12px;
  padding: 0 14px;
  font-size: 14px;
  line-height: 22px;
  display: inline-flex;
}

.selector:hover:not(:disabled) {
  background: var(--dsw-alias-interactive-bg-hover);
}

.selector:disabled {
  cursor: default;
}

.chevron {
  flex: none;
}
